$white: #fff;
$white-light: #eee;
$dark-white: darken($white-light, 15%);
$dark: #777;
$dark-light: darken($dark, 20%);
$black: #000;
$dark-black: darken($black, 10%);
$orange: #f89965;
$font-family: "Times New Roman";
$bg-dark: #c0c1c19c;

$font-size-h2: 2rem;
$regular-font: 1.725rem;
$fw-400: 400;
$fw-600: 600;
$fs-small: 1.4rem;
$fs-medium: 1.8;
$fs-large: 3.5rem;

// media manager
@mixin mediaMobile {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin Mobile() {
  @media (max-width: 376px) {
    @content;
  }
}
//extends

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  height: 100vw;
  font-family: $font-family;
  font-size: $regular-font;
  font-weight: $fw-400;
  @include mediaMobile() {
  }
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
h1 {
  color: $black;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: $fs-large;
  font-weight: $fw-600;
}

h2 {
  font-size: $fs-medium;
  color: $dark-white;
  font-weight: $fw-600;
}
p {
  font-family: $font-family;
  font-weight: $fw-400;
  color: $dark-white;
}
.container {
  width: 100%;
  padding: 0 8vw;
  @include mediaMobile() {
    padding: 0 3vw;
  }
}

.btn {
  display: inline-block;
  outline: none;
  padding: 0.9rem;
  // border: 1px solid $dark-white;
  font-size: 1.5rem;
  align-self: flex-start;
  min-width: 12.5rem;
  text-align: center;
  color: $white-light;
  text-transform: uppercase;
  cursor: pointer;
}
//utilities classes
.black {
  color: $black;
}
.h1-D-line-white {
  color: $white;
}
.h1-single-line {
  color: $black;
}
.fill-orange {
  margin-top: 1.5rem;
  background: $orange;
  color: $white;
  font-weight: $fw-400;
  font-size: $fs-small;
  border: none;
}

.fill-black {
  background-color: $black;
  color: $dark-white;
  font-size: $fs-small;
  padding: 2rem 3rem;
}
.no-fill {
  background-color: transparent;
  color: $dark-light;
  font-weight: $fw-400;
  border: 2px solid $dark;
}
.p-special {
  letter-spacing: 0.9rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
//same properties change class name
.content-left {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: left;
}

.h1-white {
  &--main {
    display: block;
  }
  &--sub {
    display: block;
  }
}

ul {
  display: flex;
  justify-content: space-between;
  li:not(:last-child) {
    margin-right: 3rem;
  }
  li {
    text-transform: uppercase;
    list-style-type: none;
    font-size: $fs-small;
  }
}

// ================= header starts here ==================
.header {
  background: #0c0c0c;
  height: 100vh;
  @include mediaMobile {
  }

  &__content {
    margin: 0 auto;
    // width: 70%;
    height: 95vh;

    &--nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $dark-white;
      padding-top: 1rem;
      position: relative;
      // border: 1px solid red;

      .shoap-img {
        display: inline;
        height: 2rem;
        width: 3rem;
      }

      &::after {
        content: "";
        width: 100%;
        height: 1px;
        background: $dark;
        position: absolute;
        top: 100%;
        left: 0;
        margin-top: 2.5rem;
      }
      @include mediaMobile() {
        &::after {
          top: 70%;
        }
      }
    }
  }
}
//nav ends here
//================ header main content ======
.header__content--main {
  width: auto;
  // padding: 1rem;
  margin-top: 4rem;
  display: flex;
  justify-content: flex-start;

  .img-right {
    min-width: 55%;
    height: 80vh;
    float: right;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 35%;
    }
  }
  @include mediaMobile() {
    display: block;
    position: relative;

    .content-left {
      p {
        font-size: 1.5rem;
      }
      position: absolute;
      left: 50%;
      transform: translatex(-50%);
      top: 5rem;
      gap: 1rem;
      width: 28rem;
      text-align: center;
      .btn {
        align-self: center;
      }
    }
    .img-right {
      width: 100%;
      img {
        object-position: 50% 40%;
      }
    }
  }
}
// =========== main body =========
.main-container {
  // width: 70%;
  margin: 0 auto;
  padding: 5rem;

  .main-top {
    margin: 15rem 0 10rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    h2 {
      color: $dark-black;
      text-transform: uppercase;
    }
    h4 {
      color: $dark;
      text-transform: uppercase;
      display: inline-block;
    }
    p {
      color: $orange;
      display: inline-block;
      font-weight: $fw-600;
    }
    img {
      height: 10rem;
      margin-top: -5rem;
      margin-bottom: 5px;
    }
    .main__items {
      text-align: center;
      line-height: 3rem;
      border-radius: 5px;
      min-height: 15rem;
      width: calc(100% / 3);
      background: $bg-dark;
      color: $black;
    }
    @include mediaMobile() {
      flex-direction: column;
      gap: 8rem;

      .main__items {
        width: 100%;
      }
    }
  }

  .main-grid {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;

    &--item {
      height: 25rem;
      border-radius: 5px;
    }
    .item {
      &--1 {
        margin-top: 2rem;

        height: 40rem;
        background: $orange url("./images/item-1.png") no-repeat -3rem 6rem;
        background-size: 55%;
        grid-column: span 2;
        display: flex;
        position: relative;
        .content {
          width: auto;
          position: absolute;
          margin-right: 1rem;
          left: 52%;
          top: 28%;
        }
      }
      &--2 {
        background: darken($white-light, 5%) url("./images/speaker-bg.png")
          no-repeat 37rem -37rem;
        grid-column: span 2;
        background-size: cover;
        .content-left {
          margin: 5rem;
          gap: 3rem;
        }
      }

      &--3 {
        .img--3 {
          height: 100%;
          overflow: hidden;
          border-radius: 5px;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transform: scale(1.4);
          }
        }
        grid-column: span 1;
      }
      &--4 {
        background: $bg-dark url("./images/item-1.jpg");

        grid-column: span 1;
        margin-bottom: 5rem;
        .content-left {
          font-size: 1rem;
          margin: 5rem;
          gap: 3rem;
        }
      }
    }
    @include mediaMobile() {
      %box-content-left {
        gap: 2rem;
        h1 {
          font-size: 2rem !important;
        }

        .btn {
          padding: 1rem 2rem;
        }
      }

      display: flex;
      flex-direction: column;
      position: relative;

      .item {
        &--1 {
          padding: 2rem;
          height: 75rem;

          background: #f89965 url(./images/item-1.png) no-repeat 5rem 5rem;
          // background-size: 80%;
          text-align: center;
          .content {
            width: auto;
            margin: 24rem auto 0;
            position: relative;
            position: static;
            text-align: center;
            gap: 4rem;
            .btn {
              margin: 0 auto;
            }
          }
        }
        &--2 {
          background: #e1e1df url(./images/speaker-bg.png) no-repeat 20rem -11rem;
          background-size: 100%;
          height: 20rem;

          .content-left {
            @extend %box-content-left;
          }
        }
        &--3 {
          width: 50%;
          height: 20rem;
          display: inline-block;
          position: relative;
          img {
            width: 100%;
            transform: scale(1.5);
          }
        }
        &--4 {
          width: 50%;
          height: 20rem;
          position: absolute;
          bottom: -5rem;
          right: 0;
          .content-left {
            @extend %box-content-left;
          }
        }
      }
    }
  }
  .main-footer {
    display: flex;
    height: 40rem;
    width: 100%;
    gap: 4rem;
    margin-bottom: 1rem;
    .footer__content {
      word-spacing: 0.1rem;
      width: 100%;
      // border: 1px solid yellow;
      span {
        color: $orange;
      }
      p {
        line-height: 2.2rem;
      }
    }
    .footer__img {
      height: auto;
      width: 90rem;

      overflow: hidden;
      border-radius: 5px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.9);
        object-position: 1rem 6rem;
        filter: grayscale(100%);
      }
    }
  }
  @include mediaMobile() {
    width: 87vw;
    padding: 0;
    margin: 0 auto;
    .main-footer {
      margin-top: 5rem;
      display: flex;
      flex-direction: column;
      .footer__content {
        order: 1;
        min-height: 30rem;
        gap: 3rem;
        text-align: center;
      }
      .footer__img {
        order: 0;
        min-height: 20rem;
        width: 100%;
        border: none;
        img {
          transform: scale(1.5);
          object-position: 8rem -1rem;
        }
      }
    }
  }
}
// ========= footer is here ====
.footer {
  margin-top: 4rem;
  padding: 4rem 0 2rem;
  color: $white;
  height: auto;
  background-color: $black;
  position: relative;

  .footer-container {
    gap: 5rem;
    .top {
      margin-bottom: 3rem;
      display: flex;
      justify-content: space-between;
      transform: translateY(-1px);
      gap: 5rem;
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transform: translateY(3px);
      }
      p {
        line-height: 2.5rem;
      }
    }
    .mid {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      gap: 7rem;
      .right {
        display: flex;
        flex-direction: column;
        gap: 4rem;
      }
      .social {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .icons {
          align-self: flex-start;
        }

        a {
          color: $white;
          margin-right: 2rem;
          font-size: 3rem;
          text-decoration: none;
        }
      }
    }
  }
  @include mediaMobile() {
    .top {
      display: flex;
      flex-direction: column;
      gap: 2rem !important ;
      width: 50%;
    }
  }
  @include mediaMobile() {
    &::before {
      content: "";
      width: 11rem;
      height: 0.5rem;
      background-color: $orange;
      position: absolute;
      top: 0;
      left: 2rem;
    }
  }
}
@include Mobile() {
  .header {
    overflow: hidden;
    .header__content--main {
      .content-left {
        z-index: 999 !important;
      }
      .img-right img {
        transform: scale(1.5) !important;
        object-position: -3px 28% !important;
        z-index: -1;
      }
    }
    .header__content--nav {
      z-index: 999;
    }
  }
  .main-footer {
    height: 50rem !important;
    .footer__img {
      min-height: 27rem !important;
      img {
        object-position: 2rem 4rem !important;
        transform: scale(1.9) !important;
      }
    }
    .footer__content {
      min-height: auto !important;
    }
  }
  h1 {
    font-size: 2rem;
  }
  .header__content--nav {
    ul {
      display: none;
    }
  }
  .container {
    padding: 1vw !important;
  }
  .footer {
    margin-top: 8rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 100% !important;
    .top {
      margin-inline: auto;
      text-align: center;
      ul {
        // border: 1px solid #fff;
        flex-direction: column;
        gap: 2rem;
        li {
          margin: 0;
          letter-spacing: 1.8px;
        }
      }
    }
    .mid {
      .right {
        margin-top: 3rem;
      }

      .social {
        flex-direction: column;
        gap: 2rem;
        .icons {
          margin-inline: auto;
          margin-block: 1rem;
        }
      }
    }
    &::before {
      left: 12rem;
    }
  }
  //==============================
  .main-grid {
    .item {
      &--1 {
        height: 60rem !important;
        background: #f89965 url(./images/item-1.png) no-repeat -5rem 2rem !important;
        h1 {
          font-size: 3.2rem;
        }
        .content {
          gap: 3rem !important;
          margin: 30rem auto 0 !important;
        }
      }
      &--2 {
        background: #e1e1df url(./images/speaker-bg.png) no-repeat 15.5rem -8rem !important;
        background-size: 150% !important;
        h1 {
          font-size: 3.5rem !important;
        }
      }

      &--4 {
        display: block !important;
        width: 100% !important;
        position: relative !important;
        bottom: 0 !important;
      }
      &--3 {
        display: block !important;
        width: 100% !important;
        position: relative !important;
        .img--3 img {
          transform: scale(1.8) !important;
        }
      }
    }
  }
}
