*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  height: 100vw;
  font-family: "Times New Roman";
  font-size: 1.725rem;
  font-weight: 400;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

h1 {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 3.5rem;
  font-weight: 600;
}

h2 {
  font-size: 1.8;
  color: #c8c8c8;
  font-weight: 600;
}

p {
  font-family: "Times New Roman";
  font-weight: 400;
  color: #c8c8c8;
}

.container {
  width: 100%;
  padding: 0 8vw;
}

@media (max-width: 600px) {
  .container {
    padding: 0 3vw;
  }
}

.btn {
  display: inline-block;
  outline: none;
  padding: 0.9rem;
  font-size: 1.5rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  min-width: 12.5rem;
  text-align: center;
  color: #eee;
  text-transform: uppercase;
  cursor: pointer;
}

.black {
  color: #000;
}

.h1-D-line-white {
  color: #fff;
}

.h1-single-line {
  color: #000;
}

.fill-orange {
  margin-top: 1.5rem;
  background: #f89965;
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  border: none;
}

.fill-black {
  background-color: #000;
  color: #c8c8c8;
  font-size: 1.4rem;
  padding: 2rem 3rem;
}

.no-fill {
  background-color: transparent;
  color: #444444;
  font-weight: 400;
  border: 2px solid #777;
}

.p-special {
  letter-spacing: 0.9rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.content-left {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  text-align: left;
}

.h1-white--main {
  display: block;
}

.h1-white--sub {
  display: block;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ul li:not(:last-child) {
  margin-right: 3rem;
}

ul li {
  text-transform: uppercase;
  list-style-type: none;
  font-size: 1.4rem;
}

.header {
  background: #0c0c0c;
  height: 100vh;
}

.header__content {
  margin: 0 auto;
  height: 95vh;
}

.header__content--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #c8c8c8;
  padding-top: 1rem;
  position: relative;
}

.header__content--nav .shoap-img {
  display: inline;
  height: 2rem;
  width: 3rem;
}

.header__content--nav::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #777;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 2.5rem;
}

@media (max-width: 600px) {
  .header__content--nav::after {
    top: 70%;
  }
}

.header__content--main {
  width: auto;
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header__content--main .img-right {
  min-width: 55%;
  height: 80vh;
  float: right;
}

.header__content--main .img-right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 35%;
     object-position: 50% 35%;
}

@media (max-width: 600px) {
  .header__content--main {
    display: block;
    position: relative;
  }
  .header__content--main .content-left {
    position: absolute;
    left: 50%;
    -webkit-transform: translatex(-50%);
            transform: translatex(-50%);
    top: 5rem;
    gap: 1rem;
    width: 28rem;
    text-align: center;
  }
  .header__content--main .content-left p {
    font-size: 1.5rem;
  }
  .header__content--main .content-left .btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .header__content--main .img-right {
    width: 100%;
  }
  .header__content--main .img-right img {
    -o-object-position: 50% 40%;
       object-position: 50% 40%;
  }
}

.main-container {
  margin: 0 auto;
  padding: 5rem;
}

.main-container .main-top {
  margin: 15rem 0 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.main-container .main-top h2 {
  color: black;
  text-transform: uppercase;
}

.main-container .main-top h4 {
  color: #777;
  text-transform: uppercase;
  display: inline-block;
}

.main-container .main-top p {
  color: #f89965;
  display: inline-block;
  font-weight: 600;
}

.main-container .main-top img {
  height: 10rem;
  margin-top: -5rem;
  margin-bottom: 5px;
}

.main-container .main-top .main__items {
  text-align: center;
  line-height: 3rem;
  border-radius: 5px;
  min-height: 15rem;
  width: calc(100% / 3);
  background: #c0c1c19c;
  color: #000;
}

@media (max-width: 600px) {
  .main-container .main-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8rem;
  }
  .main-container .main-top .main__items {
    width: 100%;
  }
}

.main-container .main-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.main-container .main-grid--item {
  height: 25rem;
  border-radius: 5px;
}

.main-container .main-grid .item--1 {
  margin-top: 2rem;
  height: 40rem;
  background: #f89965 url("./images/item-1.png") no-repeat -3rem 6rem;
  background-size: 55%;
  grid-column: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.main-container .main-grid .item--1 .content {
  width: auto;
  position: absolute;
  margin-right: 1rem;
  left: 52%;
  top: 28%;
}

.main-container .main-grid .item--2 {
  background: #e1e1e1 url("./images/speaker-bg.png") no-repeat 37rem -37rem;
  grid-column: span 2;
  background-size: cover;
}

.main-container .main-grid .item--2 .content-left {
  margin: 5rem;
  gap: 3rem;
}

.main-container .main-grid .item--3 {
  grid-column: span 1;
}

.main-container .main-grid .item--3 .img--3 {
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.main-container .main-grid .item--3 .img--3 img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.main-container .main-grid .item--4 {
  background: #c0c1c19c url("./images/item-1.jpg");
  grid-column: span 1;
  margin-bottom: 5rem;
}

.main-container .main-grid .item--4 .content-left {
  font-size: 1rem;
  margin: 5rem;
  gap: 3rem;
}

@media (max-width: 600px) {
  .main-container .main-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .main-container .main-grid .item--2 .content-left, .main-container .main-grid .item--4 .content-left {
    gap: 2rem;
  }
  .main-container .main-grid .item--2 .content-left h1, .main-container .main-grid .item--4 .content-left h1 {
    font-size: 2rem !important;
  }
  .main-container .main-grid .item--2 .content-left .btn, .main-container .main-grid .item--4 .content-left .btn {
    padding: 1rem 2rem;
  }
  .main-container .main-grid .item--1 {
    padding: 2rem;
    height: 75rem;
    background: #f89965 url(./images/item-1.png) no-repeat 5rem 5rem;
    text-align: center;
  }
  .main-container .main-grid .item--1 .content {
    width: auto;
    margin: 24rem auto 0;
    position: relative;
    position: static;
    text-align: center;
    gap: 4rem;
  }
  .main-container .main-grid .item--1 .content .btn {
    margin: 0 auto;
  }
  .main-container .main-grid .item--2 {
    background: #e1e1df url(./images/speaker-bg.png) no-repeat 20rem -11rem;
    background-size: 100%;
    height: 20rem;
  }
  .main-container .main-grid .item--3 {
    width: 50%;
    height: 20rem;
    display: inline-block;
    position: relative;
  }
  .main-container .main-grid .item--3 img {
    width: 100%;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  .main-container .main-grid .item--4 {
    width: 50%;
    height: 20rem;
    position: absolute;
    bottom: -5rem;
    right: 0;
  }
}

.main-container .main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40rem;
  width: 100%;
  gap: 4rem;
  margin-bottom: 1rem;
}

.main-container .main-footer .footer__content {
  word-spacing: 0.1rem;
  width: 100%;
}

.main-container .main-footer .footer__content span {
  color: #f89965;
}

.main-container .main-footer .footer__content p {
  line-height: 2.2rem;
}

.main-container .main-footer .footer__img {
  height: auto;
  width: 90rem;
  overflow: hidden;
  border-radius: 5px;
}

.main-container .main-footer .footer__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.9);
          transform: scale(1.9);
  -o-object-position: 1rem 6rem;
     object-position: 1rem 6rem;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

@media (max-width: 600px) {
  .main-container {
    width: 87vw;
    padding: 0;
    margin: 0 auto;
  }
  .main-container .main-footer {
    margin-top: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-container .main-footer .footer__content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    min-height: 30rem;
    gap: 3rem;
    text-align: center;
  }
  .main-container .main-footer .footer__img {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    min-height: 20rem;
    width: 100%;
    border: none;
  }
  .main-container .main-footer .footer__img img {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -o-object-position: 8rem -1rem;
       object-position: 8rem -1rem;
  }
}

.footer {
  margin-top: 4rem;
  padding: 4rem 0 2rem;
  color: #fff;
  height: auto;
  background-color: #000;
  position: relative;
}

.footer .footer-container {
  gap: 5rem;
}

.footer .footer-container .top {
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  gap: 5rem;
}

.footer .footer-container .top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.footer .footer-container .top p {
  line-height: 2.5rem;
}

.footer .footer-container .mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 7rem;
}

.footer .footer-container .mid .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
}

.footer .footer-container .mid .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .footer-container .mid .social .icons {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.footer .footer-container .mid .social a {
  color: #fff;
  margin-right: 2rem;
  font-size: 3rem;
  text-decoration: none;
}

@media (max-width: 600px) {
  .footer .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem !important;
    width: 50%;
  }
}

@media (max-width: 600px) {
  .footer::before {
    content: "";
    width: 11rem;
    height: 0.5rem;
    background-color: #f89965;
    position: absolute;
    top: 0;
    left: 2rem;
  }
}

@media (max-width: 376px) {
  .header {
    overflow: hidden;
  }
  .header .header__content--main .content-left {
    z-index: 999 !important;
  }
  .header .header__content--main .img-right img {
    -webkit-transform: scale(1.5) !important;
            transform: scale(1.5) !important;
    -o-object-position: -3px 28% !important;
       object-position: -3px 28% !important;
    z-index: -1;
  }
  .header .header__content--nav {
    z-index: 999;
  }
  .main-footer {
    height: 50rem !important;
  }
  .main-footer .footer__img {
    min-height: 27rem !important;
  }
  .main-footer .footer__img img {
    -o-object-position: 2rem 4rem !important;
       object-position: 2rem 4rem !important;
    -webkit-transform: scale(1.9) !important;
            transform: scale(1.9) !important;
  }
  .main-footer .footer__content {
    min-height: auto !important;
  }
  h1 {
    font-size: 2rem;
  }
  .header__content--nav ul {
    display: none;
  }
  .container {
    padding: 1vw !important;
  }
  .footer {
    margin-top: 8rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100% !important;
  }
  .footer .top {
    margin-inline: auto;
    text-align: center;
  }
  .footer .top ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  .footer .top ul li {
    margin: 0;
    letter-spacing: 1.8px;
  }
  .footer .mid .right {
    margin-top: 3rem;
  }
  .footer .mid .social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  .footer .mid .social .icons {
    margin-inline: auto;
    margin-block: 1rem;
  }
  .footer::before {
    left: 12rem;
  }
  .main-grid .item--1 {
    height: 60rem !important;
    background: #f89965 url(./images/item-1.png) no-repeat -5rem 2rem !important;
  }
  .main-grid .item--1 h1 {
    font-size: 3.2rem;
  }
  .main-grid .item--1 .content {
    gap: 3rem !important;
    margin: 30rem auto 0 !important;
  }
  .main-grid .item--2 {
    background: #e1e1df url(./images/speaker-bg.png) no-repeat 15.5rem -8rem !important;
    background-size: 150% !important;
  }
  .main-grid .item--2 h1 {
    font-size: 3.5rem !important;
  }
  .main-grid .item--4 {
    display: block !important;
    width: 100% !important;
    position: relative !important;
    bottom: 0 !important;
  }
  .main-grid .item--3 {
    display: block !important;
    width: 100% !important;
    position: relative !important;
  }
  .main-grid .item--3 .img--3 img {
    -webkit-transform: scale(1.8) !important;
            transform: scale(1.8) !important;
  }
}
/*# sourceMappingURL=main.css.map */